<!DOCTYPE HTML> <!-- /* vim: set filetype=html : */ -->
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <title>E-Multa - {% block title %}home{% endblock %}</title>
    <link rel="stylesheet" type="text/css" title="Red" href="{{ STATIC_URL }}/css/emulta.css" />
    <style type="text/css">
      html, body {width: 100%; height: 100%}
      body {margin-top: 0px; margin-right: 0px; margin-left: 0px; margin-bottom: 0px}
    </style>

    {% block extra_style %}{% endblock %}
    {% block extra_scripts %}{% endblock %}
  </head>
  <body>
{{ fmap.map }}
{{ fmap.media.js }}
  </body>
</html>
